<html><head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit">
	<link rel="stylesheet" style="css/text" href="../static/css/base.css">
	<link rel="stylesheet" style="css/text" href="../static/css/colu.css">
	<script src="https://code.jquery.com/jquery.min.js"></script>
	<title>登录</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


	<script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?cbe66539543f147f5b0ae378b18d911a";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
	</script>
</head>
<body >

<div class="g_body">
	<div class="login w clearfix">
		<div class="log_modu bodr clearfix" style="margin-top:50px; margin-bottom: 50px;">
			<div class="loginInfo fl">
				<ul>
					<li class="clearfix">
						<div class="inpu" id="DivName">
							<i class="icoUser"></i> <input type="text" id="name" name="name" value="" placeholder="请输入用户名">
						</div>
						<div class="int">
							<span class="iNote xf_register_intext3 hide"></span> <span class="iError" id="s_userName"></span>
						</div>
					</li>
					<li class="clearfix">
						<div class="inpu" id="DivPwd">
							<i class="icoPwd"></i> <input type="password" id="password" name="password" value="" placeholder="请输入密码">
						</div>
						<div class="int">
							<span class="iNote xf_register_intext3 hide"><i></i></span> <span id="s_password" class="iError "></span>
						</div>
					</li>

					<li>
						<div class="nextline clearfix">
							<a href="/loginAndRegister/resetPassword?theme=tongyirong" title="忘记密码" target="" class="txtdec">忘记密码</a>
						</div>
					</li>
					<li class="tologin"><input type="button" onclick="login()" name="" value="立即登录" class="fontBtn">
						<p>
							<i></i>您的信息已使用SSL加密技术，数据传输安全
						</p></li>

				</ul>
			</div>
			<div class="log_boder fl"></div>
			<div class="log_fr fl">
				<p class="l_f_top">还没有账户？</p>
				<p class="l_f_bot">
					<a href="/register" title="" class="l_toreg">立即注册 <em>&gt;&gt;</em></a>
				</p>
			</div>
		</div>
	</div>
</div>
<input type="hidden" id="contextPath" value="">
<script type="text/javascript">
    $(function () {
        if(""!=""){
            alert("");
        }
    })

      $(document).ready(function () {
        if (getCookies("cookieUserName") != null) {
            $("#name").val(getCookies("cookieUserName"));
        }
    });

    //取cookies的值
    function getCookies(name) {
        var arr = document.cookie.match(new RegExp("(^| )" + name + "=([^;]*)(;|$)"));
        if (arr != null) return unescape(arr[2]);
        return null;
    }

    function labelSelected() {
        var olabel = $("#label_login");
        if ($(olabel).hasClass("z_sel")) {
            $("#input_login").val("0");
            $(olabel).removeClass("z_sel");
        } else {
            $("#input_login").val("1");
            $(olabel).addClass("z_sel");
        }
    }

    function login() {
        var name = $("#name").val();
        var password = $("#password").val();

        if (name == '') {
            $("#nameError").addClass("error");
            $("#s_userName").show();
            $("#s_userName").html("请输入用户名");

            $("#DivName").removeClass("inpu");
            $("#DivName").addClass("inpu error");
            return;
        } else {
            $("#nameError").removeClass("error");
            $("#s_userName").hide();

            $("#DivName").removeClass("inpu error");
            $("#DivName").addClass("inpu");
        }

        if (password == '') {
            $("#pwdError").addClass("error");
            $("#s_password").show();
            $("#s_password").html("请输入密码");

            $("#DivPwd").removeClass("inpu");
            $("#DivPwd").addClass("inpu error");
            return;
        } else {
            $("#pwdError").removeClass("error");
            $("#s_password").hide();

            $("#DivName").removeClass("inpu error");
            $("#DivName").addClass("inpu");
        }


        if ($("#label_login").hasClass("z_sel")) {
            //存cookie的键(取cookie里的用户姓名用)
            var cookieName = "cookieUserName";

            var Days = 30; //此 cookie将被保存 30 天
            var exp = new Date();//new Date("December 31, 9998");
            exp.setTime(exp.getTime() + Days * 24 * 60 * 60 * 1000);
            document.cookie = cookieName + "=" + escape(name) + ";expire*=" + exp.toGMTString();
        }

        $.ajax({
            data: {username: name, password: password},
            type: 'POST',
            dataType: 'json',
            url: '/login',
            error: function (data) {
                alert("网络异常，请重试!");
                location.reload();
            },
            success: function (data) {
				if(data.code == 1){
                    alert(data.message);
                    location.reload();
				}else if(data.code == 2){
                    window.location.href = '/';
				}
            }
        });
    }
  
</script>
</div></body></html>

